

<!-- 
    Creo un div para contener al componente deseado
    en este caso, se trata del componente 
    logoap

    Ademas, le asigno una ID, para poder tratar ese DIV de manera especifica,
    ya que si quiero darle estilos al div, y se me ocurre meter otro div, tambien estaria afectado

    Por lo tanto, resuelvo ese posible inconveniente trabajando con ID en cada elemento
-->

<!-- HEADER CON LOGOS-->
<div id="contenedor__header" class="d-flex p-2">


    <div id="logoap" class="d-flex">
        <app-logoap></app-logoap>
    </div>   
   
    

    <div id="socialmedia" class="d-flex p-2">
        <app-socialmedia></app-socialmedia>
    </div>

</div>

<!-- BANNER-->
<div id="banner" class="d-flex">
    <app-banner></app-banner>

</div>

