<!-- En este componente voy a colocar mis redes sociales asociadas a lo profesional
Github y Linkedin

Voy a crear un div que contenga las imagenes de dichas redes, ancladas a sus respectivos enlaces-->

<div id="redes_sociales_logos">
   <a href="https://github.com/gengarizzy"><img src="../../../assets/githubcontraste.png"></a> <!--GITHUB_LOGO-->
   <a href="https://www.linkedin.com/in/mario-daniel-palacio-082370157/"><img src="../../../assets/linkedinlogo.png"></a> <!--LINKEDIN_LOGO-->
</div>
